<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifeimo.retrofit">

    <uses-permission android:name="android.permission.INTERNET" />
    //1e47c1e7361fe

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_assignment_red_400_24dp"
        android:label="安兴"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="mob_api"
            android:value="1e47c1e7361fe" />

        <activity
            android:name=".activity.RegisterActivity"
            android:label="注册">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"></activity>
    </application>

</manifest>